<div class="columns">
	<div class="column is-half is-offset-one-quarter">
		<div class="box full-centered card-shadow" id=type-info>
		  <p>
		  	<b>
		  		Are all the pieces different or are there groups of pieces with the same weight and dimensions?
		  	</b>
		  </p>
		  <br>
		  <p>
		  	<a class="button is-link form-button" info-data='different-info' >All different</a>
		  	<a class="button is-link form-button" info-data='grouped-info'>Groups with same weight and dimensions</a>
		  </p>
		</div>
	</div>
</div>

