<div class="container is-widescreen"> 
	<%= render 'type_of_info', operation: @operation %>
	<%= render 'different_info', operation: @operation %>
	<%= render 'grouped_info', operation: @operation %>
	<%= link_to 'Back', operation_path(params[:operation_id]), class: 'button is-link' %>
</div>

