<div class="modal file">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">SLI</p>
      <button class="delete close-modal file" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Upload the SLI document provided by your shipper.
        <br>
        <br>
        An SLI is an optional document that conveys specific instructions from exporters to their agents (usually freight forwarders) for ocean and air shipments. Think of it as a letter that tells your agent/forwarder how and where they need to send your products. It’s purpose is three-fold:
        <br>
        <br>
		    - To provide transportation and documentation instructions;
		    <br>
		    <br>
		    - To provide export control and reporting information;
		    <br>
		    <br>
		    - To convey authorization to the agent to transmit Electronic Export Information (EEI) to the Automated Export System (AES).
      </div>
    </section>
  </div>
</div>