<div class="modal general">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">SLI</p>
      <button class="delete close-modal general" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        <b>Domestic exports (D)</b> - merchandise that is grown, produced, or manufactured in the United States (including imported merchandise which has been enhanced in value or changed from the form in which imported by further manufacture or processing in the United States).  
        <br>
        <br>
        <b>Foreign exports (F)</b> - merchandise that has entered the United States and is being re-exported in the same condition as when imported.  
        <br>
        <br>
        <b>Foreign Military Sales (FMS)</b> - exports of merchandise
        <br>
        <br>
        <b>Schedule B Number</b>
         - Enter the commercial description of the commodit
        y being exported and the ten-digit 
        commodity number as provided in Schedule B - Statis
        tical Classification of Domestic and Foreign Commod
        ities Exported 
        from the United States.
        <br>
        <br>
        <b>Shipping Weight (kilograms)</b>
 - Enter the gross shipping weight in kilograms for
 each Schedule B number, 
including the weight of containers but excluding ca
rrier equipment. 
        <br>
        <br>
           <b>Value (U.S. dollars)</b>
            - Enter the selling price or cost if not sold, inc
           luding freight, insurance, and other charges to 
           U.S. port of export, but excluding unconditional di
           scounts and commissions (nearest whole dollar, omit
            cents). The value 
           to be reported on the SED is the exporter’s (U.S. p
           rincipal party in interest) price or cost if not so
           ld, to the foreign 
           principal party in interest. Report one value for e
           ach Schedule B number. 
        <br>
        <br>
        <b>Export Control Classification Number (ECCN)</b>
         - Whenever a SED or AES record is required, you mu
        st enter 
        the correct Export Control Classification Number (E
        CCN) on the SED or AES record for all exports autho
        rized under a 
        license or License Exception, and items being expor
        ted under the “No License Required” (NLR) provision
        s of the EAR 
        that are listed on the CCL and have a reason for co
        ntrol other than anti-terrorism (AT). 
      </div>
    </section>
  </div>
</div>