<div class="modal fcl-initial">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">NEW EXW - FCL PROCESS</p>
      <button class="delete close-modal fcl-initial" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
    	<div class=''>
  			<div id="">
  				<div class="timeline-item" id="fcl_exw_initial_timeline_item">
  					<div class="timeline-content step-completed-no-bg">
              You have initiated a new process for:
              <br>
              <ul>
                <li><b>Agent: </b><%= agent.company_name %></li>
                <li><b>Shipper: </b><%= shipper.company_name %></li>
                <li><b>Consignee: </b><%= consignee.company_name %></li>
              </ul>
  						<br>
              The shipper will be notified that you will be in charge of their operation in the next step.

  					</div>
  				</div>
  			</div>
    	</div>
     	<br>
    </section>
  </div>
</div>