<div class="container">
  <div class="columns">
   <ul class='sticky-list'>
     <li class="sticky-element">
       <a class="sticky-anchor" href="#">
         <h2 class="sticky-header">Title #1</h2>
         <p class="sticky-paragraph">Text Content #1</p>
       </a>
     </li>
     <li class="sticky-element">
       <a class="sticky-anchor" href="#">
         <h2 class="sticky-header">Title #1</h2>
         <p class="sticky-paragraph">Text Content #1</p>
       </a>
     </li>
     <li class="sticky-element">
       <a class="sticky-anchor" href="#">
         <h2 class="sticky-header">Title #1</h2>
         <p class="sticky-paragraph">Text Content #1</p>
       </a>
     </li>
     <li class="sticky-element">
       <a class="sticky-anchor" href="#">
         <h2 class="sticky-header">Title #1</h2>
         <p class="sticky-paragraph">Text Content #1</p>
       </a>
     </li>
     <li class="sticky-element">
       <a class="sticky-anchor" href="#">
         <h2 class="sticky-header">Title #1</h2>
         <p class="sticky-paragraph">Text Content #1</p>
       </a>
     </li>
     <li class="sticky-element">
       <a class="sticky-anchor" href="#">
         <h2 class="sticky-header">Title #1</h2>
         <p class="sticky-paragraph">Text Content #1</p>
       </a>
     </li>
     <li class="sticky-element">
       <a class="sticky-anchor" href="#">
         <h2 class="sticky-header">Title #1</h2>
         <p class="sticky-paragraph">Text Content #1</p>
       </a>
     </li>
     <li class="sticky-element">
       <a class="sticky-anchor" href="#">
         <h2 class="sticky-header">Title #1</h2>
         <p class="sticky-paragraph">Text Content #1</p>
       </a>
     </li>    
   </ul>
  </div>
</div>

