<div class="container">
	<br>
	<br>
	<nav class="breadcrumb" aria-label="breadcrumbs">
	  <ul>
	    <li><%= link_to "Operation " + Operation.find(@operation_id).reference, operation_path(@operation_id)%></li>
	    <li class="is-active"><%= link_to "Task", operation_path(@operation_id) %></li>
	  </ul>
	</nav>

	<nav class="panel is-form-panel card-shadow">
	  <div class="panel-block">
	    <p>
	    	<%= render 'tasks/form', operation_id: @operation_id, action: 'update', id: @id, step: 'a' %>
	    </p>
	  </div>
	</nav>
</div>

