<div class="modal bonded">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">BONDED CARGO</p>
      <button class="delete close-modal bonded" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        When a shipment arrives at U.S. Customs but has not yet been paid for, it is considered under the control of customs until the tax and duty issues have been resolved. 
        <br>
        <br>
        In some cases, a licensed freight company can move the shipment from customs to its own facilities and hold it as bonded cargo. EWC has the freedom to act in ways that your company cannot because your shipment is still under the control of U.S. Customs in an official bonded cargo warehouse.
      </div>
    </section>
  </div>
</div>