<div class="modal cargo-hazardous">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">CARGO HAZARDOUS</p>
      <button class="delete close-modal cargo-hazardous" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        A hazardous material is any item or agent (biological, chemical, radiological, and/or physical), which has the potential to cause harm to humans, animals, or the environment, either by itself or through interaction with other factors.
      </div>
    </section>
  </div>
</div>