<div class="modal commercial-description">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">COMMERCIAL DESCRIPTION</p>
      <button class="delete close-modal commercial-description" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        A description of the type of goods being picked up (electronics, equipment, personal effects, baggage, etc.
      </div>
    </section>
  </div>
</div>