<div class="modal container-type">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">CONTAINER TYPE</p>
      <button class="delete close-modal container-type" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Type of container seleceted to fit the client's needs and cargo size / weight.
        <br>
        <br>
        - <b>Flat Rack:</b> With collapsible sides, these are like simple storage shipping containers where the sides can be folded so as to make a flat rack for shipping of wide variety of goods.
        <br>
        <br>
        - <b>Open Top:</b> With a convertible top that can be completely removed to make an open top so that materials of any height can be shipped easily.
        <br>
        <br>
        - <b>NOR:</b> These are temperature regulated shipping containers that always have a carefully controlled low temperature, but <strong>in this case the refrigeration services are not used and the container is used as a regular one</strong>.
        <br>
        <br>
        - <b>NOR:</b> These are temperature regulated shipping containers that always have a carefully controlled low temperature, but <strong>in this case the refrigeration services are not used and the container is used as a regular one</strong>.
        <br>
        <br>
        - <b>HC:</b> High-cube containers are similar in structure to standard containers, but taller. In contrast to standard containers, which have a maximum height of 2591 mm (8'6"), high-cube containers are 2896 mm, or 9'6", tall.
      </div>
      <br>
    </section>
  </div>
</div>
