<div class="modal contact-phone">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">CONTACT PHONE</p>
      <button class="delete close-modal contact-phone" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Phone number of the person in charge of the movement in the <strong>shipping</strong> company.
        <br>
        <br>
        This information is important because in case of needing to contact the shipping company for something regarding this movement, the provided <strong>phone number</strong> will be used.
      </div>
    </section>
  </div>
</div>