<div class="modal documents">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">DOCUMENTS</p>
      <button class="delete close-modal documents" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Use this field to upload all the documents related to the <strong>cargo that is going to be moved.</strong>
        <br>
        <br>
        <ul>
          For example:
          <li>- Hazmat documentation</li>
          <li>- Self propeled documentation</li>
          <li>- Bonded documentation</li>
        </ul>
      </div>
    </section>
  </div>
</div>