<div class="modal ein">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">EIN</p>
      <button class="delete close-modal ein" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        The <strong>Employer Identification Number (EIN), also known as the Federal Employer Identification Number (FEIN) or the Federal Tax Identification Number</strong>, is a unique nine-digit number assigned by the Internal Revenue Service (IRS) to business entities operating in the United States for the purposes of identification.
        <br>
        <br>
        This information is provided by the shipper and will be stored in our database for future movements with the same shipper (you won't need to provide this information for future operations).
      </div>
    </section>
  </div>
</div>