<div class="modal gross-weight">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">GROSS WEIGHT</p>
      <button class="delete close-modal gross-weight" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Email of the person in charge of the movement in the <strong>shipping</strong> company.
        <br>
        <br>
        This information is important because in case of needing to contact the shipping company for something regarding this movement, the provided <strong>email</strong> will be used.
      </div>
    </section>
  </div>
</div>