<div class="modal gross-weight">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">GROSS WEIGHT</p>
      <button class="delete close-modal gross-weight" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Is the <strong>total weight</strong> of the raw cargo. For example for a cargo of sodas:
        <br>
        - Soda's liquid
        <br>
        - The weight of bottles or cans that it is packed in
        <br>
        - If the bottles and cans are further packed into cartons which are placed on a pallet
       <br>
       <br>
       soda's liquid + bottles + cartons + pallets = gross weight
      </div>
    </section>
  </div>
</div>