<div class="modal hazard-class">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">HAZARD CLASS</p>
      <button class="delete close-modal hazard-class" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        - <strong>Class 1:</strong> Explosives.
        <br>
        <br>
        - <strong>Class 2:</strong> Gases.
        <br>
        <br>
        - <strong>Class 3:</strong> Flammable and Combustible Liquids.
        <br>
        <br>
        - <strong>Class 4:</strong> Flammable Solids.
        <br>
        <br>
        - <strong>Class 5:</strong> Oxidizing Substances, Organic Peroxides.
        <br>
        <br>
        - <strong>Class 6:</strong> Toxic Substances and Infectious Substances.
        <br>
        <br>
        - <strong>Class 7:</strong> Radioactive Materials.
        <br>
        <br>
        - <strong>Class 8:</strong> Corrosives.
        <br>
        <br>
        - <strong>Class 9:</strong> Miscellaneous Hazardous Materials.
        <br>
        <br>
      </div>
    </section>
  </div>
</div>