<div class="modal loading-address">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">LOADING ADDRESS</p>
      <button class="delete close-modal loading-address" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Physical address in which the container(s) are going to be loaded.
        This location <strong> may </strong> or <strong> may not</strong> be the <strong>shipper's</strong> warehouse but the information is always provided by them.
        <br>
      </div>
    </section>
  </div>
</div>