<div class="modal loading-date">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">LOADING DATE</p>
      <button class="delete close-modal loading-date" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="notification is-primary">
        Date in which the cargo is going to be loaded at the <strong>shipper's</strong> designated location.
        <br>
        <br>
        This information is important because based on this date we <strong>schedule the pick up date</strong> to match our customer's needs.
      </div>
    </section>
  </div>
</div>