<div class="modal pick-up-reference">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">PICK UP REFERENCE</p>
      <button class="delete close-modal pick-up-reference" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Reference code or number provided by the <strong>shipper</strong> that we will use to <strong>identify</strong> the cargo that is going to be loaded at their designated location.
      </div>
    </section>
  </div>
</div>