<div class="modal self-propelled">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">SELF PROPELLED</p>
      <button class="delete close-modal self-propelled" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Self-propelled ccargo are vehicles such as automobilesmotorcycles, aircraft, boats, snowmobiles, trucks, tractors jet skis, lawn mowers, golfcarts, etc., that convert their own energy supply into motive power used for propulsion. 
        <br>
        <br>
        Batteries do so by converting electrochemical energy; engines do so by burning fuels to release their chemical energy.
      </div>
    </section>
  </div>
</div>