<div class="modal un-code">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">UN CODE</p>
      <button class="delete close-modal un-code" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        UN numbers (United Nations numbers) are four-digit numbers that identify hazardous materials, and articles (such as explosives, Flammable Liquids to oxidizing solid or toxic liquids, etc.) in the framework of international transport. 
        <br>
        <br>
        For the full list of UN Numbers you can visit the following <a href="https://en.wikipedia.org/wiki/Lists_of_UN_numbers" target="blank">LINK</a>
      </div>
    </section>
  </div>
</div>