<div class="modal consignee-guide">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">CONSIGNEE</p>
      <button class="delete close-modal consignee-guide" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Is the <strong>shipper's customer</strong>, the company that <strong>buys</strong> the cargo from the <strong>provider or shipper and to whom the cargo is finally delivered.</strong>
      </div>
    </section>
  </div>
</div>
