<div class="modal destination-agent">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">DESTINATION AGENT</p>
      <button class="delete close-modal destination-agent" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Is the company specialized in internation business, hired by the <strong>customer or the cargo owner</strong> (consignee).
        <br>
        <br>
        Their job is to manage the cargo transportation from the country of origin to the destination place, with the objective of delivering it to the <strong>consignee or final customer</strong>.
        In order to complete this objective they must cotact a <strong>forwarding agent</strong> specialized in exportations at the origin place.
      </div>
    </section>
  </div>
</div>