<div class="modal operation-type">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">OPERATION MODALITY</p>
      <button class="delete close-modal operation-type" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        The <strong>Operation Modality</strong> sets the entire application's parameters in order to guide you through the movement or operation selected.
      </div>
    </section>
  </div>
</div>