<div class="modal origin-state">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">ORIGIN STATE</p>
      <button class="delete close-modal origin-state" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
      	State of the city in which the cargo is going to be picked up, this information is provided by the shipper.
      	<br>
      	<br>
      	It may or may not be the same state in which the <strong>port of loading</strong> is located.
      </div>
    </section>
  </div>
</div>
