<div class="modal origin-address">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">ORIGIN ADDRESS</p>
      <button class="delete close-modal origin-address" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
      	Address of the physical location in which the cargo is going to be picked up, this information is provided by the shipper.
      	<br>
      	<br>
      	Do not confuse with <strong>port of loading</strong>.
      </div>
    </section>
  </div>
</div>
