<div class="modal origin-zip">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">ORIGIN ZIP CODE</p>
      <button class="delete close-modal origin-zip" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
      	Zip code of the location in which the cargo is going to be picked up, this information is provided by the shipper.
      	<br>
      	<br>
        ZIP Codes in the United States make sortation of letters down to a specific street address or apartment a lot easier. This also reduces transit time and makes delivery far more efficient, as this mail gets sorted in the sequence that delivery is made by the carrier on his route.
      </div>
    </section>
  </div>
</div>
