<div class="modal pol">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">PORT OF LOADING</p>
      <button class="delete close-modal pol" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Place where shipments are loaded and secured aboard a vessel.
        <br>
        <br>
        It <strong>may or may not</strong> be the same as point of origin.
      </div>
    </section>
  </div>
</div>
