<div class="modal shipper-guide">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">SHIPPER</p>
      <button class="delete close-modal shipper-guide" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Is the company that <strong>sells the cargo</strong> related to the movement, they must provide the cargo documentation (invoice, packing list, shipper's letter of instruction, certificates, hazmat documentation, etc ...)
      </div>
    </section>
  </div>
</div>