<div class="modal shipper-reference">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">SHIPPER REFERENCE NUMBER</p>
      <button class="delete close-modal shipper-reference" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        The <strong>Shipper Reference Number</strong> is the number or code that your shipper or  provider uses for tracking or internal purposes within their company.
        <br>
        <br>
        It is specially usefull when you communicate with your <strong>shipper</strong> so you both are sure about what specific process or movement is being discussed.
      </div>
    </section>
  </div>
</div>