<div class="columns">
  <div class="column is-half  is-offset-one-quarter">
    <nav class= 'panel is-form-panel card-shadow'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name) , remote: true, html: {class: "control main-registration" }) do |f| %>
        <!--role hidden field-->  
        <%= hidden_field_tag :role, role_to_register %>
        <%= render 'registration/fields', f: f, user_type: '' %>
      <% end %>
    </nav>
  </div>
</div>
