

<div class="section">
	<%= render 'shared/tabs_buttons', role: 'representative', role_to_register: 'agent' %>
	<%= render 'shared/tabs_content', role: 'representative', role_to_register: 'agent', status_content: @status_content, modality_content: @modality_content, search_content: @search_content, operations: @operations %>
</div>

