<div class="modal booking-number">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">BOOKING NUMBER</p>
      <button class="delete close-modal booking-number" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        The number assigned to a certain space reservation by the carrier or the carrier's agent.
        <br>
        <br>
        For example, when you book a shipping with Hamburg Sud they must provide a number so you both can identify the space reserved for your cargo.
      </div>
    </section>
  </div>
</div>