<div class="modal cargo-cut-off-time">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">CARGO CUT OFF TIME</p>
      <button class="delete close-modal cargo-cut-off-time" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        The last date or time at which export cargo will be received for a particular vessel or aircraft
        <br>
        <br>
        Exceeding the  CARGO CUT OFF date will cancel the booking and not load the container on the ship. The shipowner may be charged for not being able to sell unused space on the ship.
        <br>
        <br>
        At the same time may result in rebooking container / goods on another ship, which means an additional delay.
      </div>
    </section>
  </div>
</div>