<div class="modal container-number">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">CONTAINER NUMBER</p>
      <button class="delete close-modal container-number" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Number of the container designated by the carrier, this works as an unique code which helpfull to identify in what container your cargo is located. 
      </div>
    </section>
  </div>
</div>