<div class="modal expected-sailing-date">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">EXPECTED SAILLING DATE</p>
      <button class="delete close-modal expected-sailing-date" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Expected date in which the vessel is sailing out of the port of loading.
      </div>
    </section>
  </div>
</div>