<div class="modal number-of-containers">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">NUMBER OF CONTAINERS</p>
      <button class="delete close-modal number-of-containers" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Number of containers needed to fit the <strong>shipper's cargo.</strong>
      </div>
    </section>
  </div>
</div>