<div class="modal ramp-needed">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">RAMP NEEDED</p>
      <button class="delete close-modal ramp-needed" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Is a ramp (rail or truck) needed to locate the cargo at the port of loading ?
      </div>
    </section>
  </div>
</div>