<div class="modal seal-number">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">SEAL NUMBER</p>
      <button class="delete close-modal seal-number" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Security seals are mechanisms used to seal shipping containers in a way that provides tamper evidence and some level of security. Such seals can help to detect theft or contamination, either accidental or deliberate.
      </div>
    </section>
  </div>
</div>