<div class="modal tare-weight">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">TARE WEIGHT</p>
      <button class="delete close-modal tare-weight" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Tare weight, sometimes called unladen weight, is the weight of an empty container. By subtracting it from the gross weight, the weight of the goods carried may be determined.
      </div>
    </section>
  </div>
</div>