<div class="modal vessel">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">VESSEL</p>
      <button class="delete close-modal vessel" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Name of the ship that is going to be used for the transportation of the cargo related to the movement.
      </div>
    </section>
  </div>
</div>