<div class="modal vgm-cut-off-date">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">VGM CUT OFF DATE</p>
      <button class="delete close-modal vgm-cut-off-date" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        The Verified Gross Mass (VGM) is the weight of the cargo including dunnage and bracing plus the tare weight of the container carrying this cargo. SOLAS requires the shipper to provide VGM in a “shipping document,” either as part of the shipping instruction or in a separate communication, before vessel loading.
        <br>
        <br>
        The VGM cut off is the deadline to send the discussed document to the shipping company or carrier.
      </div>
    </section>
  </div>
</div>