<div class="modal voyage">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">VOYAGE</p>
      <button class="delete close-modal voyage" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        A number which is assigned to a round-trip sea voyage intended to transport trade goods along an existing trade route. These numbers are assigned by the ship owner or agent and are unique to both that ship and the trip, unlike flight numbers which are reused and tied to points of arrival and destination, not to a particular plane.
      </div>
    </section>
  </div>
</div>