<div class="container is-widescreen"> 

	<div class="columns">
	  <div class="column is-10 is-offset-1">
	    <br>
	    <br>
	    <nav class="breadcrumb" aria-label="breadcrumbs">
	      <ul>
	        <li class='operations-redirection'><%= link_to "Home", representative_path %></li>
	        <li class="is-active"><%= link_to "New Operation", new_operations_by_user_path %></li>
	      </ul>
	    </nav>
	    <nav class= 'panel is-form-panel card-shadow'>
	      <p class="panel-heading">
	        Create new operation
	      </p>
	      <%= render 'new_form', operations_by_user: @operations_by_user, agents: agents(current_user), representatives: all_representatives, shippers: shippers(current_user), consignees: all_consignees %>
	    </nav>
	   
	  </div>
	</div>
</div>