<div class="container">
  <div class="columns">
    <div class="column is-6">
      <center>
        <div class="selector-card-container">
          <div class="card">
            <figure class="front">
              <img src="https://images.unsplash.com/photo-1504877497169-fe91a0b062dc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=397193262fbd9afdd5fc5e3793809d9a&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb" alt="front">
              <div class="caption">
                <h2>General <span>Charts</span></h2>
                <p>General Charts</p>
                <%= link_to 'View More', charts_general_path %>
              </div>      
            </figure>
          </div>
        </div>
      </center>  
    </div>

    <div class="column is-6">
      <center>
        <div class="selector-card-container">
          <div class="card">
            <figure class="front">
              <img src="https://images.unsplash.com/photo-1519213887655-a4f199e3015b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0a396c8911b694fa41de02d4e407ddc8&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb" alt="front">
              <div class="caption">
                <h2>Traffics <span>Charts</span></h2>
                <p>Traffics Charts</p>
                <%= link_to 'View More', charts_representatives_path %>
              </div>      
            </figure>
          </div>
        </div>
      </center>
    </div>
  </div>

  <div class="columns">
    <div class="column is-6" >
      <center>
        <div class="selector-card-container">
          <div class="card">
            <figure class="front">
              <img src="https://images.unsplash.com/photo-1494412651409-8963ce7935a7?ixlib=rb-0.3.5&s=8f7c2e4be6212457dd4589b9b3dc0707&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb" alt="front">
              <div class="caption">
                <h2>Customers <span>Charts</span></h2>
                <p>Customers Charts</p>
                <%= link_to 'View More', charts_customers_path %>
              </div>      
            </figure>
          </div>
        </div>
      </center>
    </div>
  </div>
</div>






