<nav class="panel">
  <p class="panel-heading">
    General Settings & Options
  </p>
  <%= link_to(destroy_user_session_path, method: :delete, class: "panel-block is-active") do %>        
    <span class="panel-icon">
      <i class="fas fa-power-off"></i>
    </span>
    Log Out 
  <% end %>

  <% if is_admin? %>
	  <%= link_to(new_user_import_path, class: "panel-block is-active", data: { turbolinks: false} ) do %>        
	    <span class="panel-icon">
	      <i class="fas fa-upload"></i>
	    </span>
	    Import Users 
	  <% end %>
	<% end %>
</nav>
