<nav class="panel">
  <p class="panel-heading">
    General Settings & Options
  </p>
  <%= link_to(destroy_user_session_path, method: :delete, class: "panel-block is-active") do %>        
    <span class="panel-icon">
      <i class="fas fa-power-off"></i>
    </span>
    Log Out 
  <% end %>
</nav>