<br>
<br>
<div class="container is-widescreen"> 
  <nav class="panel">
    <p class="panel-heading">
      General Settings & Options
    </p>
    <%= link_to(destroy_user_session_path, method: :delete, class: "panel-block is-active") do %>        
      <span class="panel-icon">
        <i class="fas fa-power-off"></i>
      </span>
      Log Out 
    <% end %>

    <% if is_admin? %>
      <%= link_to(users_representatives_list_path, class: "panel-block is-active" ) do %>        
        <span class="panel-icon">
          <i class="fas fa-users"></i>
        </span>
        Manage Representatives 
      <% end %>
    <% else %>
      <%= link_to(users_new_relationship_path(current_user), class: "panel-block is-active" ) do %>        
        <span class="panel-icon">
          <i class="fas fa-users"></i>
        </span>
        Manage Relationships 
      <% end %>
  	<% end %>
  </nav>
</div>