<div class="columns">
	<div class="column">
		<div class="tabs is-centered">
		  <ul>
		    <li id='first-tab' class="tab is-active">
		    	<a>
		    		<span class="icon is-small"><i class="far fa-chart-bar"></i></span>
		    		<span><%= is_admin? ? 'Insights' : 'Operations' %></span>
		    	</a>
		    </li>
		    <li id='second-tab' class="tab">
		    	<a>
		    		<span class="icon is-small"><i class="fas fa-user-plus"></i></span>
		    		<span>Register <%= role_to_register.capitalize %></span>
		    	</a>
		    </li>
		    <li id='third-tab' class="tab">
		    	<a>
		    		<span class="icon is-small"><i class="fas fa-cogs"></i></span>
		    		<span>Options</span>
		    	</a>
		    </li>
		  </ul>
		</div>
	</div>
</div>
