<div class="section">
	<%= render 'shared/tabs_buttons', role: 'admin', role_to_register: 'representative' %>
	<%= render 'shared/tabs_content', role: 'admin', role_to_register: 'representative' %>
</div>

