<div class="section">
	<%= render 'shared/tabs_buttons', role: 'shipper', role_to_register: 'consignee' %>
	<%= render 'shared/tabs_content', role: 'shipper', role_to_register: 'consignee' %>
</div>

