<article class="tile is-child notification step-not-completed <%= is_lcl_booking_requested?(operation_id) ? 'step-completed' : '' %> show-modal fcl-booking">
  <p class="title">
  	<span class="numberCircle"><span><%= number %></span></span>
  	Pickup Request
	</p>
	<rp></rp>
  <p class="subtitle">Request a pickup with LFS</p>
</article>