<div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060"></font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">

	Good morning,
	<br>
	We are glad to confirm that the cargo with the pick up reference:<b> <%= @pickup %>,</b> has been correctly loaded and it's ready for delivery. 
	<br>
	<br>
	<br>
	


<%= image_tag(attachments['signature.png'].url, width:"100%", height: "150") %>

<br>
<br>

<br>
<font size="2" face="Calibri,sans-serif"><span style="font-size:11pt;"><font size="1" face="Century Gothic,sans-serif" color="#002060"><span style="font-size:8pt;"><b>OUR VALUES : Dependence - Obedience - Gratitude - Integrity - Exc</b></span></font><font size="1" face="Century Gothic,sans-serif" color="#002060"><span style="font-size:8pt;" lang="en-US"><b>ellence
- Perseverance - Honor - Generosity - Humility - Generational Mentality</b></span></font></span></font>
</div>