<h1>
	RECUERDEEEEEE SOLICITAR LA INFORMACIÓN
</h1>
<h1>
	RECUERDEEEEEE SOLICITAR LA INFORMACIÓN
</h1>
<h1>
	RECUERDEEEEEE SOLICITAR LA INFORMACIÓN
</h1>

<div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">Hello,</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">We are Interworld Freight Inc, nominated forwarding agent for your customer <%= @agent.company_name %>, and according with our mutual customer you
should have cargo ready to load into a container, if so please confirm the following information in order to make the booking and schedule spotting on time:</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<ol style="margin-top:0;margin-bottom:0;">
<li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;"><span lang="es-CO">Loading Address:</span></span></font></li><li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;"><span lang="es-CO">Container size:</span></span></font></li><li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;"><span lang="es-CO">Loading date &amp; Docks Hours:</span></span></font></li><li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;">Gross weight:</span></font></li><li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;">Commercial Description:</span></font></li></ol>
<div style="margin:0 0 0 18pt;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="red"><i>***Please confirm if cargo is Hazardous material and send us MSDS, IMDG or DGD</i></font></span></font></div>
<ol start="6" style="margin-top:0;margin-bottom:0;">
<li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;">Schedule B# / Tariff Code:</span></font></li><li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;">EIN:</span></font></li><li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;"><span lang="es-CO">Pickup reference:</span></span></font></li><li style="margin:0;"><font size="3" face="Calibri,sans-serif" color="#002060"><span style="font-size:12pt;"><span lang="es-CO">Contact and phone number:</span></span></font></li></ol>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060"><span lang="es-CO">&nbsp;</span></font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">Remember that goods valued over USD2,500.00 per commodity (Schedule B or HTSUSA), sent from one shipper to one consignee require filing in the
</font><font color="#002060"><span style="background-color:white;">Automated Commercial Environment</span></font><font color="#002060"> (</font><font color="#002060">ACE) of the U.S. Customs and Border Protection to be able to be exported and failure to comply
with this regulation may result in penalties up to USD10,000.00 so please send copy of the commercial invoice, packing list and SLI in order to file Shipper’s Export Declaration in your behalf or you file SED please send AES ITN#.</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<div style="text-align:center;margin:0;" align="center"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="red">***Since lumber used as wood packaging materials (WPM) possess a significant hazard of introducing plant pests,
the regulation requires that WPM used in pallets, crates, boxes, dunnage and other wood used for transporting or packaging goods has to be certified and marked, ensuring that the WPM has been treated, WPM being found with such violation will be returned to
origin, without exception***</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">Thanks in advance for all your help and support.</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>

<%= image_tag(attachments['signature.png'].url, width:"100%", height: "150") %>

<br>
<br>

<br>
<font size="2" face="Calibri,sans-serif"><span style="font-size:11pt;"><font size="1" face="Century Gothic,sans-serif" color="#002060"><span style="font-size:8pt;"><b>OUR VALUES : Dependence - Obedience - Gratitude - Integrity - Exc</b></span></font><font size="1" face="Century Gothic,sans-serif" color="#002060"><span style="font-size:8pt;" lang="en-US"><b>ellence
- Perseverance - Honor - Generosity - Humility - Generational Mentality</b></span></font></span></font>
</div>