<div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">Hello,</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">We are Interworld Freight Inc, nominated forwarding agent for your customer <b><%= @consignee.company_name %></b> , and according with our mutual customer you should have cargo ready to load into a container.
 </font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<h3><b>Please visit the following link and fill in the information requested in the form in order to make the booking and schedule spotting on time::</b>
<%= link_to 'CARGO INFORMATION FORMULARY', Figaro.env.host+"/fcl_exw_steps/fcl_exw_cargo_info_steps/cargo_info_steps/new?operation_secure_id=" + @secure_id.to_s, class: "button is-link" %></h3>
<br>
<br>
<br>
<ol style="margin-top:0;margin-bottom:0;">


<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060"><span lang="es-CO">&nbsp;</span></font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">Remember that goods valued over USD2,500.00 per commodity (Schedule B or HTSUSA), sent from one shipper to one consignee require filing in the
</font><font color="#002060"><span style="background-color:white;">Automated Commercial Environment</span></font><font color="#002060"> (</font><font color="#002060">ACE) of the U.S. Customs and Border Protection to be able to be exported and failure to comply
with this regulation may result in penalties up to USD10,000.00 so please send copy of the commercial invoice, packing list and SLI in order to file Shipper’s Export Declaration in your behalf or you file SED please send AES ITN#.</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<div style="text-align:center;margin:0;" align="center"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="red">***Since lumber used as wood packaging materials (WPM) possess a significant hazard of introducing plant pests,
the regulation requires that WPM used in pallets, crates, boxes, dunnage and other wood used for transporting or packaging goods has to be certified and marked, ensuring that the WPM has been treated, WPM being found with such violation will be returned to
origin, without exception***</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">Thanks in advance for all your help and support.</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>

<%= image_tag(attachments['signature.png'].url, width:"100%", height: "150") %>
<br>
<br>

<br>
<font size="2" face="Calibri,sans-serif"><span style="font-size:11pt;"><font size="1" face="Century Gothic,sans-serif" color="#002060"><span style="font-size:8pt;"><b>OUR VALUES : Dependence - Obedience - Gratitude - Integrity - Exc</b></span></font><font size="1" face="Century Gothic,sans-serif" color="#002060"><span style="font-size:8pt;" lang="en-US"><b>ellence
- Perseverance - Honor - Generosity - Humility - Generational Mentality</b></span></font></span></font>
</div>