<%= form_tag common_steps_new_quotation_path, class: "control full-select quotation", multipart: true  do |f| %>
  <b>Upload the documentation that supports your quotation for <%= shipper.company_name %></b>
  <br>
  <br>
  <%= file_field_tag 'files[]', multiple: true %>
  <br>
  <br>
  <div class="control">
    <%= button_tag type: 'submit', class: 'button is-success' do %>
      <span>SEND</span>
      <span class="icon is-small">
        <i class="fas fa-check"></i>
      </span>
    <% end %>
  </div>
<% end %>