<article class="tile is-child notification <%= is_fcl_exw_info_requested?(operation_id) ? 'step-completed' : '' %> step-not-completed show-modal fcl-request-info ">
  <p class="title">
  	<span class="numberCircle"><span><%= number %></span></span>
  	Cargo information request
  </p>
  <rp></rp>
  <p class="subtitle">Request cargo's info to shipper</p>
  <div class="content">
    <!-- Content -->
  </div>
</article>