<article class="tile is-child box notification step-not-completed <%= is_fcl_exw_delivery_confirmed?(operation_id) ? 'step-completed' : '' %> show-modal fcl-container-delivery">
  <p class="title">
  	<span class="numberCircle"><span><%= number %></span></span>
  	Container Delivery
  </p>
  <rp></rp>
  <p class="subtitle">Check container delivery status</p>
</article>