<article class="tile is-child notification step-not-completed <%= is_fcl_exw_info_confirmed?(operation_id) ? 'step-completed' : '' %> show-modal fcl-info-received">
  <p class="title">
  	<span class="numberCircle"><span><%= number %></span></span>
  	Information response
  </p>
  <rp></rp>
  <p class="subtitle">Confirm shipper's information response</p>
</article>