<article class="tile is-child notification step-completed show-modal fcl-initial">      
	<p class="title"> 
		<span class="numberCircle"><span><%= number %></span></span>
		FCL - EXW
	</p>
	<rp></rp>
	<p class="subtitle">New process</p>
</article>