<article class="tile is-child notification step-not-completed <%= is_fcl_exw_quotation_confirmed?(operation_id) ? 'step-completed' : '' %> show-modal quotation">
		<p class="title">
			<span class="numberCircle"><span><%= number %></span></span>
			Quotation
		</p>
		<rp></rp>
		<p class="subtitle"> Check agent's quotation status  </p>
</article>