<article class="tile is-child notification <%= is_fcl_exw_quotation_sell_confirmed?(operation_id) ? 'step-completed' : 'step-not-completed' %> show-modal quotation-sell">      
	<p class="title"> 
		<span class="numberCircle"><span><%= number %></span></span>
		Quotation Confirmation
	</p>
	<rp></rp>
	<p class="subtitle">Confirm selling prices</p>
</article>