<article class="tile is-child notification step-not-completed <%= is_fcl_exw_booking_requested?(operation_id) ? 'step-completed' : '' %> show-modal fcl-booking">
  <p class="title">
  	<span class="numberCircle"><span><%= number %></span></span>
  	Request booking
	</p>
	<rp></rp>
  <p class="subtitle">Request a cargo booking order</p>
</article>