
<br>
<br>
<div class="container is-widescreen">
	<nav class="breadcrumb" aria-label="breadcrumbs">
	  <ul>
	    <li><%= link_to "Insights", admin_path %></li>
	    <li class="is-active"><%= link_to "General Charts", general_charts_path %></li>
	  </ul>
	</nav>
	<%= render 'shared/operations_charts', modality_content: @modality_content, search_content: @search_content, path: general_charts_path, operations: @operations, representative_id: nil, customer_id: nil %>

	<%= link_to "List Records", general_records_path, class: "button is-link" %>
</div>
