<br>
<br>
<br>

<div class="container is-widescreen"> 
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", users_admin_path  %></li>
      <li class="is-active"><a href="">Manage Representatives</a></li>
    </ul>
  </nav>
  <br>
  <nav class="panel">
    <p class="panel-heading">
      Representatives
    </p>


    <% if is_admin? %>
      <%  @representatives.each do |rep| %>
        <%= link_to(users_new_relationship_path(rep), class: "panel-block is-active" ) do %>        
          <span class="panel-icon">
            <i class="fas fa-users"></i>
          </span>
          <%= rep.contact_first_name + ' ' + rep.contact_last_name %>
        <% end %>
      <% end %>
  	<% end %>
  </nav>
</div>