@import "bulma";
@import 'home.scss';
@import 'timeline.scss';
@import 'general_cargo_infos.scss';
@import 'fcl_exw_cargo_infos.scss';
@import 'bulma_mods.scss';
@import 'jquery.ui.all';


$major-blue: #3273dc;

.hidden { display: none; }

.is-form-panel { margin-top: 35px; }

.is-danger-icon { color: red; }

.swal-button--confirm { background-color: $major-blue }

.login-logo { margin: 35px; }

.mid-select { width: 45%; }

.full-select { width: 100%; }


.body {  background-color: #e2e1e0 !important;}

.fa-file-excel {font-size: 32px;}

.fa-file-excel:hover {font-size: 44px;}

.is-danger.import { height: 300px !important; overflow: hidden;}

.is-danger.import:hover { height: 300px !important; overflow: auto;}

.text-joiner {line-height: 2;}


.modal-card:hover{
	overflow-y: auto;
}


