table{
	margin: 25px 0;

	td{
		text-align: center;
	}

	th{
		text-align: center !important;
	}

}

table .row:hover{
	background-color: #3273dc;
	color: white;
}

.fixed-bottom-button{
	position: fixed;
	bottom: 50px;
	right: 25px;
}

.fixed-bottom-button.follow-up-email{
	height: 50px;
	bottom: 0 !important;
}



.middle-icon{
	font-size: 56px;
	text-align: center;
	color: #4a4a4a;
}

.middle-icon:hover{
	cursor: pointer;
	font-size: 68px;
}