// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks-button{
	width: 100%;
}

.input.note{
	height: 100px;
}

.task-form{
	width: 100%;
}