// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks-button{
	width: 100%;
}

.input.note{
	height: 100px;
}

.task-form{
	width: 100%;
}


.sticky-header,.sticky-paragraph{
  font-size:100%;
  font-weight:normal;
}
.sticky-list,.sticky-element{
  list-style:none;
}
.sticky-list{
  overflow:hidden;
  padding:3em;
}
.sticky-list .sticky-element .sticky-anchor{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:15em;
  width:19em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.sticky-list .sticky-element{
  margin:1em;
  float:left;
}
.sticky-list .sticky-element .sticky-header{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}

.sticky-list .sticky-element .sticky-anchor{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.sticky-list .sticky-element:nth-child(even) .sticky-anchor{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.sticky-list .sticky-element:nth-child(3n) .sticky-anchor{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.sticky-list .sticky-element:nth-child(5n) .sticky-anchor{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.sticky-list .sticky-element .sticky-anchor:hover,.sticky-list .sticky-element .sticky-anchor:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}