
<div class="breadcrumb-container">
	<br>
	<br>
	<nav class="breadcrumb" aria-label="breadcrumbs">
	  <ul>
	    <li><%= link_to "Insights", admin_path %></li>
	    <li><%= link_to "Traffics Charts", charts_representatives_path %></li>
	    <li class="is-active"> <a href="#"><b><%= contact_names(representative_id) %> </b></a></li>
	  </ul>
	</nav>
</div>


<div class="">
	<%= render 'shared/operations_records_list', status_content: status, modality_content: modality, search_content: search, path: records_lists_representatives_path, operations: @operations %>
</div>

