<div class="modal invoice">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">INVOICE</p>
      <button class="delete close-modal invoice" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="notification is-primary">
        Upload the invoice document provided by your shipper.
        <br>
        <br>
        Definion of invoices: An invoice, sometimes called a sales invoice, is a document sent by a provider of a product or service to the purchaser. The invoice establishes an obligation on the part of the purchaser to pay, creating an account receivable. In other words, the invoice is a written verification of the agreement between the buyer and seller of the goods or services. 
      </div>
    </section>
  </div>
</div>