<div class="container is-widescreen"> 
	<% if is_fcl_exw? operation_id %>
		<%= render 'operations/fcl_exw/fcl_exw_timeline', operation_id: operation_id, agent: agent, shipper: shipper %>
	<% else %>
		<%= render 'other_timeline', operation_id: operation_id, agent: agent, shipper: shipper %>
	<% end %>

	<%= render 'relevant_info_modal', agent: agent, shipper: shipper %>

	<!-- Hidding this on purpose -->
	<% render 'send_follow_up_mail_modal', agent: agent, shipper: shipper, operation_id: operation_id %>
</div>
